@page
@model ProductProgamming04042025.Pages.IndexModel
@using ProductProgamming04042025.Pages.Models

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/fonts/fontface.css">
    <link rel="stylesheet" href="~/css/shell.css">
    <link rel="stylesheet" href="~/css/plan.css">
</head>
<body>
    <main>
        <nav id="shell">
            <div id="mobile-shell" class="mobile">
                <div class="content">
                    <div class="hide-shell">
                        <img src="./images/burger.svg" alt="">
                    </div>
                    <span class="title">
                        План тренировок
                    </span>
                </div>
            </div>
            <div id="menu" class="hide">
                <div class="user-card-container">
                    <div class="user-card">
                        <div class="content">
                            <div class="image">
                                <img src="./images/avatar.svg" alt="">
                            </div>
                            <div class="user-info">
                                <span class="status">Пользователь</span>
                                <span class="name">@Model.UserProfile.FirstName @Model.UserProfile.LastName</span>
                            </div>
                            <div class="config">
                                <a asp-page="/Settings" class="gear">
                                    <img src="~/images/gear.svg" alt="C">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="shell-navigation">
                    <a asp-page="/Chat" class="nav-item">
                        <div class="content">
                            <div class="icon">
                                <img src="~/images/chat.svg" alt="">
                            </div>
                            <span class="title">
                                Чат
                            </span>
                        </div>
                    </a>
                    <a asp-page="/Plan" class="nav-item selected">
                        <div class="content">
                            <div class="icon">
                                <img src="~/images/dumbbells.svg" alt="">
                            </div>
                            <span class="title">
                                План тренировок
                            </span>
                        </div>
                    </a>
                </div>
                <button class="hide-shell">
                    <img src="./images/arrow.svg" alt="">
                </button>
            </div>
        </nav>
        <section id="content">
            <div class="data">
                <div class="title">
                    План тренировок
                </div>
                <div id="plan">
                    <div class="cards">
                        @foreach (var day in Model.Plan.WeekPlan ?? new Dictionary<int, DayPlan>())
                        {
                            <div class="card @(day.Key == (((int)DateTime.Today.DayOfWeek+6) % 7) ? "selected" : "")">
                                <div class="content">
                                    <div class="title">
                                        @GetDayName(day.Key)
                                    </div>
                                    <div class="data">
                                        <div class="set">
                                            <div class="items">
                                                <div class="item">
                                                    <div class="title">
                                                        Упражнение
                                                    </div>
                                                    <div class="content">
                                                        Повторения x подходы
                                                    </div>
                                                </div>
                                                @foreach (var exercise in day.Value.Exercises)
                                                {
                                                    <div class="item">
                                                        <div class="title">
                                                            @Html.Raw(exercise.Name)
                                                        </div>
                                                        <div class="content">
                                                            @exercise.Count
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="set">
                                            <div class="items">
                                                <div class="item">
                                                    <div class="title">
                                                        Название блюда
                                                    </div>
                                                    <div class="content">
                                                        Калорийность. Б/Ж/У
                                                    </div>
                                                </div>
                                                @foreach (var meal in day.Value.Diet)
                                                {
                                                    <div class="item">
                                                        <div class="title">
                                                            @Html.Raw(meal.Name)
                                                        </div>
                                                        <div class="content">
                                                            @meal.Count
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="./js/shell.js"></script>
    <script src="./js/plan.js"></script>
</body>
</html>

@functions {
    public string GetDayName(int dayNumber)
    {
        return dayNumber switch
        {
            0 => "Понедельник",
            1 => "Вторник",
            2 => "Среда",
            3 => "Четверг",
            4 => "Пятница",
            5 => "Суббота",
            6 => "Воскресенье",
            _ => "День " + dayNumber
        };
    }
}
